.image_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 10px;
}
.image_parent {
    display: block;
    height: 5vw;
    width: 5vw;
}